<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="{{url_for('static',filename='projects/css/main.css')}}">
</head>
<body>

     <!-- Nav Bar  -->

    <div class="navbar-container">
        <div class="navbar">
            <h2>
                <a class="a-navbar">
                    [Contact]
                </a>
                <a class="a-navbar" href="{{url_for('.home')}}">
                    [Home]
                </a>
                <a class="a-navbar" href="{{url_for('static',filename='media/resume.pdf')}}" type="pdf">
                    [Resume]
                </a>
            </h2>
        </div>
    </div>

    <!-- Main body -->

    <div class="main-body">

        <!-- Heading -->

        <div name="heading">
            <h1><font class="orange">> </font><font>Projects</font></h1>
            <hr>
        </div>

        <!-- index of projects -->

        <div name="index">
            <h2><font class="orange">$ </font>Context</h2>
            {% for project in projects %}
                <h2><a><font class="orange">> </font>{{project.name}}</a></h2>
            {%  endfor %}
        </div>

    </div>

</body>
</html>