<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="icon" type="images/png" href="{{url_for('static',filename='home/images/profile.ico')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='home/css/main.css')}}">
</head>
<body>

    <!-- Navigation bar -->
    <div class="navbar-container">
        <div class="navbar">
            <h2>
                <a class="a-navbar" href="#contacts">
                    [Contact]
                </a>
                <a class="a-navbar" href="{{url_for('.projects_page')}}">
                    [Projects]
                </a>
                <a class="a-navbar" href="{{url_for('static',filename='media/resume.pdf')}}" type="pdf" target="_blank">
                    [Resume]
                </a>
            </h2>
        </div>
    </div>

    <div class="main-body">

        <!-- welcome line  -->

        <div class="welcome-message">
            <div class="typewriter">
                <h1><font style="color:rgb(211,60,23)">></font> Hello ! I am {{name}}</h1>
            </div>
        </div>

        <hr>

        <h2><font style="color:rgb(211,60,23)">></font> Welcome to my Portfolio</h2>

        <br>

        <!-- about  -->

        <h2><font style="color:rgb(211,60,23)">$</font> Whoami ??</h2>

        <div class="column-container">

            <div class="column-first">
                <div class="profile-photo-container">
                    <img class="profile-photo" src="/static/home/images/profile.ico" alt="profile_photo">
                </div>
            </div>

            <div class="column-second">

                <div style="padding-left:10">
                    <h2><font style="color:rgb(211,60,23)">></font> {{name}}</h2>
                    <h2><p style="color:whitesmoke">{{about}}</p></h2>
                </div>
                <hr>
            </div>
        </div>

        <!-- education  -->

        <div name="education">
            <h2><font style="color:rgb(211,60,23)">$</font> Education</h2>
            {% for item in eduction %}
                <div>
                    <a href={{item.website}} target="_blank">
                        <h2><font style="color:rgb(211,60,23)">></font> <font class="uni">{{item.university}}</font></h2>
                        <h2><font style="color:rgb(17, 153, 231)">{{item.course}},  </font><font style="color:rgb(253, 95, 4)">{{item.session}}</font></h2>
                    </a>
                </div>
            {% endfor %} 
        </div>

        <br>

        <!-- skills -->

        <div name="Skills">
            <h2><font style="color:rgb(211,60,23)">$</font> Skills</h2>
            {% for item in skills%}
                {% if item[0] == "other" %}
                    <div class="other">
                        <h2><span>
                            <font style="color:rgb(211,60,23)">> </font>
                        {% for i in item[1].split(" ") %}
                            <span style="color:whitesmoke">
                                {% if i in item[2] %}
                                    <font style="color:rgb(17, 153, 231)">{{i}} </font>
                                {% else %}
                                    <font>{{i}} </font>
                                {% endif %}
                            </span>
                        {% endfor %}
                        </span></h2>
                    </div>
                {% else %}
                    <div class="{{item[0]}}">
                        <p style="white-space: wrap; color:whitesmoke">
                            <h2>
                                <span>
                                    <font style="color:rgb(211,60,23)">[{{item[0]}}] </font>
                                    {% for i in item[1] %}
                                        <a href="https://www.google.com/search?q={{i}}" target="_blank"><font class="skill-search">{{i}}</font></a>
                                        {% if i != item[1][-1] %}
                                            <font style="color:whitesmoke"> ,</font>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </h2>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <br>

        <!-- Project -->

        <div class="projects">
            <div>
                <h2><font style="color:rgb(211,60,23)">$ </font>Projects</h2>
            </div>
            <div name="projects_list">
                {% for project in projects %}
                    <div class="{{project.name}}">
                        <h2>
                            <div style="white-space: wrap">
                                <span>
                                    <a href="{{project.link}}"class="project-link" target="_blank">[{{project.name}}]</a>
                                </span>
                                <span style="color:whitesmoke">
                                    {{project.desc}}
                                </span>
                            </div>
                            <div style="white-space: wrap;">
                                <font style="color:rgb(253, 95, 4)">> Skills: </font>
                                {% for skill in project.skills %}
                                    <font style="color:rgb(17, 153, 231)">{{skill}}</font>
                                    {% if skill != project.skills[-1] %}
                                        <font style="color:whitesmoke"> ,</font>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </h2>
                    </div>
                {% endfor %}
            </div>
        </div>

        <br>

        <div name="contact" id="contacts">
            <h2><font style="color:rgb(211,60,23)">$ </font><font>Contacts</font></h2>
            {% for contact in contacts %}
                {% if contact.type == 'call' %}
                    <h2><a class="project-link" href="tel:{{contact.source}}" target="_blank">[{{contact.name}}]</a><font> {{contact.source}}</font></h2>
                {% elif contact.type == 'email' %}
                    <h2><a class="project-link" href="mailto:{{contact.source}}" target="_blank">[{{contact.name}}]</a><font> {{contact.source}}</font></h2>
                {% else %}
                    <h2><a class="project-link" href="{{contact.source}}" target="_blank"">[{{contact.name}}]</a><font> {{contact.source}}</font></h2>
                {% endif %}
            {% endfor %}
        </div>

         <!-- footer -->
        <div>
            <hr>
            <h2><font style="color:rgb(211,60,23)">></font> Thank for visit.</h2>
            <hr>
        </div>



        <hr>

        <!-- copy writes and author -->
        <div>
            <h4>This webpage is under Apache License
                Version 2.0, January 2004
             http://www.apache.org/licenses/</h4>
            <h3>Source code: <a href="{{source_code}}">{{source_code}}</a></h3>
        </div>

    </div>
    
</body>
</html>