
{% from 'macros.jinja' import contacts%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/projects/css/main.css')}}">
    {% block link %}{% endblock %}
</head>
<body>

    <!-- dummy input -->

    <input type="hidden" id="name" value="{{data.name}}">

     <!-- contact box -->
;
     <div id="contact" class="contact-box">
        <div class="contact-container">
            <h2><a class="back-to-home" href="#">&times;</a></h2>
            <h2><font class="orange">$ </font>Contact<font class="orange"> > </font><font class="brown">{{data.name}}</font></h2>
            {{ contacts(data.contacts) }}
        </div>
    </div>

     <!-- Nav Bar  -->

    <div class="navbar-container">
        <div class="navbar">
            <h2>
                <font style="padding-left:10px"> </font>
                <font class="orange">[</font>
                <a class="contact-link" href="#contact">
                    Contact
                </a>
                <font class="orange">]</font>

                <font class="orange">[</font>
                <a href="{{url_for('static',filename='media/resume.pdf')}}" type="pdf" target="_blank">
                    Resume 
                </a>
                <font class="orange">]</font>

                <font class="orange">[</font>
                <a href="https://github.com/sourabh945">
                    GitHub 
                </a>
                <font class="orange">]</font>
                ||
                {% block navbar %}
                {% endblock %}
            </h2>
        </div>
    </div>

    <div id="main-body" class="main-body">

        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

        {% block body %}
        {% endblock %}

        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

        <!-- footer section -->

        <div id="footer">
            <hr>
            <h2><font style="color:rgb(211,60,23)">></font> Thank for visit.</h2>
            <hr>
        </div>

        <hr>

        <!-- copy writes and author -->
        <div id="credits">
            <h4>This webpage is under Apache License Version 2.0, January 2004 http://www.apache.org/licenses/</h4>
            <h3>Source code: <a href="https://github.com/sourabh945/Portfolio.git">github.com/sourabh945/Portfolio</a></h3>
        </div>

    </div>

    <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

    <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

    {% block scripts %}
    {% endblock %}

</body>
</html>