
<!-- This is function file for the pages -->

 <!-- small functions  -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

{% macro title(title) %}

    <font class="orange">$ </font><font>{{title}}</font>

{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

{% macro title_wa(title) %}

    <font class="orange">> </font><font>{{title}}</font>

{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

{% macro link_wb(name,link="",target="_blank",title="")%}
    <font class="orange">[ </font><a herf="{{link}}" target="{{target}}" title="{{title}}">{{name}}</a><font class="orange"> ]</font>
{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

{% macro link(name,link="",title="",target="_blank") %}
    <a href="{{link}}" target="{{target}}" title="{{title}}">{{name}}</a>
{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

{% macro title_wb(title) %}
    <font class="orange">[ </font><font class="brown">{{title}}</font><font class="orange"> ]</font>
{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

{% macro p_wh(content,highlights=[]) %}

    <span class="blue-highlight">
        {% set highlights = highlights or []%}
        {% if 'list' == highlights | type %}
            {% set adder = " " %}
            <span class="white">
                {% for word in content.split(" ") %}
                    {% if word in highlights %}
                        {{ link(word,link="https://google.com/search?q="+word) }}
                    {% else %}
                        {{ word }} 
                    {% endif %}
                    {{ adder }}
                {% endfor %}
            </span>
        {% elif 'dict' == highlights | type %}
            {% set adder = " "%}
            <span>
            {% for word in content.split(" ") %}
                {% if word | lower in highlights.keys() %}
                    {% if highlights[word] == none %}
                        {{ link(word,link="https://google.com/search?q="+word) }}
                    {% else %}
                        {{ link(word,link="https://google.com/search?q="+word,title=' [ '+(highlights[word] | str)+'/10]') }}
                    {% endif %}
                {% else %}
                    {{ word }}
                {% endif %}
                {{ adder }}
            {% endfor %}
            </span>
        {% endif %}
    </span>

{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

{% macro print_list(content,link_head="https://google.com/search?q=") %}

    <span class="blue-highlight">
        {% if 'list' == content | type %}
            {% for item in content %}
                {{ link(item,link=link_head+item)}}
                {% if item != content[-1] %}
                    <font class="white">, </font>
                {% endif %}
            {% endfor%}
        {% elif 'dict' == content | type %}
            {% for  item in content.keys() | list %}
                {% if content[item] == none %}
                    {{ link(item,link=link_head+item) }}
                {% else %}
                    {{ link(item,link=link_head+item,title=' [ '+(content[item]|str)+'/10 ]') }}
                {% endif %}
                {% if item != (content.keys() | list)[-1] %}
                    <font class="white">, </font>
                {% endif %}
            {% endfor %}
        {% endif %}
    </span>

{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- heading section  -->

{% macro heading(name) %}

    <input id="name" type="hidden" value="{{name}}">

    <script src="{{url_for('static',filename='javascript/typewriter_animation.js')}}"></script>

    <div class="heading">
        <h1>
            <font class="orange" id="arrow"></font><font id="space"></font><font id="cursor"></font>
        </h1>
        <h2>
            <font class="orange" id="arrow-s"></font><font id="space-s"></font><font id="cursor-s"></font>
        </h2>
    </div>
{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- about section --->

{% macro about(img_src,about,name) %}

    <script src="{{ url_for('static',filename='javascript/image_hidder.js') }}"></script>

    <div class="two-section-container">
        <div class="l-section">
            <div class="profile-photo">
                <img src="{{img_src}}">
            </div>
        </div>
        <div class="r-section">
            <h2>{{ title_wa(name) }}</h2>
            <h2 class="white">{{about}}</h2>
            <hr>
        </div>
    </div>

{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- education section -->

{% macro education(education) %}

    <div id="education">
        {% for  item in education %}
            <div class="{{item.course}}">
                {{ link(item.university,link=item.link) }}
                <h2><font class="blue">{{item.course}}</font><font class="brown"> {{item.session}}</font></h2>
            </div>
        {% endfor %}
    </div>

{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

 <!-- Skills section -->

{% macro skills(skills) %}

    <div id="skills">
        {% for skill in skills %}
            {% if skill.title == 'other' %}
                <div id="other">
                    <h2>
                        <font class="orange">> </font>
                        {{ p_wh(skill.content,skill.highlights) }}
                    </h2>
                </div>
            {% else %}
                <div id="{{skill.title}}">
                    <h2>
                        {{title_wb(skill.title)}}
                        {{ print_list(skill.content) }}
                    </h2>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- Achievements Section -->


{% macro achievements(achievements) %}
    
    <div id="achievement">
        {% for achievement in achievements %}
            <h2>
                <span>
                    {{ p_wh(achievement.content,achievement.highlights )}}
                </span>
            </h2>
        {% endfor %}
    </div>

{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- Projects Section -->

{# projects with short description #}

{% macro projects_sd(projects) %}

    <div id="projects-short-desc">
        {% for project in projects %}
            <div id="{{project.name}}">
                <h2>
                    <font class="orange">[</font><a href="{{url_for('.projects_page',repo=project.name)}}" target="_blank"> {{project.name}} </a><font class="orange">]</font>
                    <span class="white">
                        {{project.desc}}
                    </span>
                </h2>
            </div>
        {% endfor %}
    </div>

{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

{# projects with pages #}

{% macro project(project) %}

    <div id="project">
        {% for item in project.content.keys() | list %}
            <div id="{{item}}">
                {% if item == "name" %}
                {% elif item == "link" %}
                    <h2>{{ link_wb(project.content[item],project.link) }} {{ link(project.link,project.link) }}</h2>
                {% elif item == "skills" %}
                    <h2>{{ title_wb(project.content[item]) }} {{ print_list(project[item]) }}</h2>
                {% else %}
                    <h2>{{ title_wb(project.content[item]) }} {{ p_wh(project[item], ( project | try('highlights') )) }}</h2>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- contact Section -->

{% macro  contacts(contacts) %}

    <div id="contacts">
        {% for contact in contacts %}
            {% if contact.type == 'call' %}
                    <h2><font class="orange">[</font><a href="tel:{{contact.source}}" target="_blank"> {{contact.name}} </a><font class="orange">]</font><font> {{contact.source}}</font></h2>
                {% elif contact.type == 'email' %}
                    <h2><font class="orange">[</font><a href="mailto:{{contact.source}}" target="_blank"> {{contact.name}} </a><font class="orange">]</font><font> {{contact.source}}</font></h2>
                {% else %}
                    <h2><font class="orange">[</font><a href="{{contact.source}}" target="_blank"> {{contact.name}} </a><font class="orange">]</font><font> {{contact.source}}</font></h2>
                {% endif %}
        {% endfor %}
    </div>

{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

{# experenice #}

{% macro experenice(experenice) %}

    <div id="experience">
        <h2><font class="orange">> </font>{{ experenice.title }}</h2>
        <h2><font class="blue"> {{ experenice.company }}</font>  <font class="brown"> {{ experenice.year }}</font></h2>
        {% if ( experenice.about | try)%}
            <h2>hello</h2>
        {% else %}
            <h2>else hello</h2>
        {% endif %}
    </div>

{% endmacro %}

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
