<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/projects/css/main.css')}}">
</head>
<body>


     <!-- contact box -->

     <div id="contact" class="contact-box">
        <div class="contact-container">
            <h2><a href="#">&times;</a></h2>
            <h2><font class="orange">$ </font>Contact<font class="orange"> > </font><font class="brown">{{data.name}}</font></h2>
            {% for contact in data.contacts %}
                {% if contact.type == 'call' %}
                    <h2><a href="tel:{{contact.source}}" target="_blank">[{{contact.name}}]</a><font> {{contact.source}}</font></h2>
                {% elif contact.type == 'email' %}
                    <h2><a href="mailto:{{contact.source}}" target="_blank">[{{contact.name}}]</a><font> {{contact.source}}</font></h2>
                {% else %}
                    <h2><a href="{{contact.source}}" target="_blank"">[{{contact.name}}]</a><font> {{contact.source}}</font></h2>
                {% endif %}
            {% endfor %}
        </div>
    </div>

     <!-- Nav Bar  -->

    <div class="navbar-container">
        <div class="navbar">
            <h2>
                <a href="#contact">
                    [Contact]
                </a>
                <a href="{{url_for('static',filename='media/resume.pdf')}}" type="pdf" target="_blank">
                    [Resume]
                </a>
                <a href="https://github.com/sourabh945">
                    [GitHub]
                </a>
                |
                <a hrdevice-widthef="{{url_for('.home')}}">
                    [Home]
                </a>
                <a href="{{url_for('.projects_page')}}">
                    [Projects]
                </a>
            </h2>
        </div>
    </div>