{% extends 'src/base.html' %}

{% import 'src/macros.jinja' as elements %}

{% block title %}Portfolio{% endblock %}

{% block navbar %}{{elements.link_wb("Projects",link=url_for('.projects_page'))}}{% endblock %}

{% block body %}

    {{ elements.heading(data.name) }}

    <hr>

    <h2>{{ elements.title('whoami')}}</h2>

    {{ elements.about(url_for('static',filename='media/profile.ico'),data.about,data.name)}}

    <br>

    <h2>{{ elements.title('Education') }}</h2>

    {{ elements.education(data.education) }}

    <br>

    <h2>{{ elements.title('Skills') }}</h2>

    {{ elements.skills(data.skills) }}

    <br>

    <h2>{{ elements.title('Experience') }}</h2>

    {{ elements.experience(data.experience) }}


    <h2>{{ elements.title('Projects') }}</h2>

    {{ elements.projects_sd(data.projects) }}

    <br>

    <h2>{{ elements.title('Achievements') }}</h2>

    {{ elements.achievements(data.achievements) }}

    <br>

    <h2>{{ elements.title('Contacts') }}</h2>

    {{ elements.contacts(data.contacts) }}

    <br>


{% endblock %}