:root{
    background-image: url("/static/home/images/background.gif");
    color: whitesmoke;
    font:medium;
    padding:5%;
    font-family: 'Courier New', Courier, monospace;
    font:monospace;
    padding-inline: 2em;
    color-scheme: light dark;
}
.main-body {
    border: 5px solid rgb(211, 60, 23);
    border-radius: 0.9%;
    padding: 1%;
    min-width: 30em;
    font-family: 'Courier New', Courier, monospace;
    font:monospace;
    max-width: 65em;
    margin: 4em auto;
    color-scheme: text;
    background-color: rgba(2, 6, 36, 0.925);
    color: rgba(52, 241, 5, 0.959);
}

.typewriter h1{
    overflow: hidden;
    border-right: .15em solid rgb(211,60,23);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(40,end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0}
    to {width : 100%}
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color:rgb(211,60,23)}
}

.welcome-message {

    padding-top: 5%;
    padding-bottom: 5%;
}

.center {

    padding-left: 50%;
}

.column-container {
    width: 100%;
    height: 500px;
}

.column-first {
    float:left;
    width:50%
}

.column-second {
    float:right;
    width:50%;
    display: block;
    white-space: wrap;
}

.profile-photo-container {
    padding-left:10%;
    padding-right:10%;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.profile-photo  {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:solid rgb(211, 60, 23);
    border-width: 5px;

}

hr {
    height:5px;
    background-color: rgb(211,60,23);
    border:none;
}

.endfloat {
    padding:100%;
    float:none
}

a {
    text-decoration: none;
    color:rgb(17, 153, 231);
}

.uni {
    color:whitesmoke;
}

.uni:hover {
    color:rgb(211, 60, 23);
}

.skill-search {
    color:rgb(17, 153, 231);
}

.skill-search:hover {
    color:rgb(253,95,4);
}

.project-link {
    text-decoration: none;
    color: rgb(211, 60, 23);
}

.project-link:hover {
    color:rgb(17, 153, 231);
}

/* upper menu bar */

.navbar-container {
    width:100%;
}

.navbar {
    overflow: hidden;
    background-color: black;
    color:rgb(211, 60, 23);
    position: relative;
    top:2.5%;
    place-content:left;
    width: auto;
    border:solid rgb(211, 60, 23);
}

.a-navbar {
    text-decoration: none;
    color:rgb(211, 60, 23);
    font: bold;
    padding:1%;
}

.a-navbar:hover {
    color:rgb(17, 153, 231);
}